@import '../../../assets/scss/Colors.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.close_icon {
  cursor: pointer;
}
.search_input {
  width: 100%;
}
.mat-form-field {
  width: 100%;
}

.project {
  width: 100%;
  // position: relative;
}

.project_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.project_info:hover, .project_img {
  display: block;
}

.project_img {
  display: none;
  position: fixed;
  right: calc(100% - 1200px);
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: 55px;
}
