$dark-orange: #fd7700;
$deep-sky-blue: #0db7ed;
$dark-slate-gray: #343f5b;
$dark-grey: #2d2d2d;
$alice-blue: #e7f7ff;
$whitesmoke: #f6f6f6;
$white: #fff;
$black: #000;
$emerald: #4ace89;
$tundora: #474747;
