$dark-orange: #fd7700;
$deep-sky-blue: #0db7ed;
$dark-slate-gray: #343f5b;
$dark-grey: #2d2d2d;
$alice-blue: #e7f7ff;
$whitesmoke: #f6f6f6;
$lightgray: #eaeaea;
$alice-blue: #e7f7ff;
$white: #fff;
$black: #000;
$tundora: #474747;
$mountain-meadow: #24c48e;
$blue-chill: #008afc;
$facebookblue: #3b5998;

// Header
$darkslateblue: #684fa1;
$lightslategray: #8571b3;

$wild-strawberry: #ff4081;
$wild-strawberry-darker: #ff1a68;
$gray: #dedede;