@import '../../../assets/scss/Colors.scss';

.container {
  height: 100%;

  &_codelab {
    height: 90%;
    display: flex; // Here ???

    &_body {
      width: 100%;
    }

    &_sidebar {
      overflow: hidden;
    }
  }
  

  &_footer {
    height: 10%;
  }
}
