@import '../../../assets/scss/Colors.scss';

.container {
  height: 100%;

  &_header {
    height: 10%;
  }

  &_codelab {
    height: 80%;
    display: flex; // Here ???

    &_body {
      width: 100%;
    }

    &_sidebar {
      width: 25%;
      overflow: hidden;
    }
  }

  &_footer {
    height: 10%;
  }
}
