@import '../../../assets/scss/Colors.scss';

.modal_container_login {
  width: 100vh;
  height: 47vh;
}

// .input {
//   width: 100%;
// }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 25px;
}

.close_icon {
  height: 24px;
  cursor: pointer;
}

.btn {
  height: 40px;
  width: 100%;
  border: none;
  font-weight: bold;

  &_login {
    background-color: $lightgray;
    margin-bottom: 10px;
    color: $tundora;
  }

  // &_fb {
  //   background-color: $facebookblue;
  //   color: white !important;
  // }
}

// .mat-form-field {
//   width: 100%;;
// }


.dialog {
  display: flex;

  & * {
    box-sizing: border-box;
  }

  &_header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  &_divider {
    border: 2px solid $lightgray;
    border-radius: 15px;
  }

  &_left, &_right {
    width: 50%;
    height: 40vh;
    margin: 0 10px;
  }

  &_left > form, &_right > form {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
  }


  &_input {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px 10px 0;
  }
}
