<div class="section_1 section">
  <div class="section_1_container">
    <div class="text_white">{{section_1_txt_1}}</div>
    <div class="text_white">{{section_1_txt_2}}</div>
    <div class="top-border"></div>
    <div class="text_black">{{section_1_txt_3}}</div>
  </div>
</div>

<div class="section_3 section">
  <div class="section_3_left">
    <div class="section_3_left_container">
      <img src="../../../assets/images/landing-page/blynk-logo.png" alt="Blynk Logo" />
      <div class="text_emerald">{{section_3_txt_1}}</div>
      <div class="text_emerald">{{section_3_txt_2}}</div>
      <div class="text_quote">{{section_3_txt_3}}</div>
    </div>
  </div>
  <div class="section_3_right">
    <img src="../../../assets/images/landing-page/blynk-device.png" alt="Blynk Device" />
  </div>

</div>
