@import '../assets/scss/Colors.scss';


.drawer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.blockly, .blocklySvg {
  position: absolute;
    width: 50%;
    height: 100%;
    min-height: 100%;
}
