<div class="container" [@toggleSidebar]="getState()">
  <div class="upper">
    <mat-form-field>
      <mat-label class="label_header">
        <i class="material-icons md-36 upload_icon">cloud_upload</i>
        Select a device
      </mat-label>
      <mat-select>
        <mat-option *ngFor="let item of deviceList">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="lower">
    <div class="device_log_container">
      Device Log
      <i class="material-icons md-36 icon-white">not_interested</i>
    </div>
  </div>
</div>
